


<div class="">
  <!-- Top Bar with Heading & Buttons -->
 

  <!-- Grid (AG Grid, Table, or any list component) -->
  <div class="card">
    <div class="card-body">
      <!-- Your Grid Component Here -->
      <div class="d-flex justify-content-between align-items-center mt-2">
          <!-- Left Side: Heading -->
          <h3 class="m-0">Users</h3>
      
          <!-- Right Side: Buttons -->
          <div class="toolbar">
          
          <!-- <button class="btn btn-secondary" title="Export to excel"><i class="feather icon-upload" style="font-size: large;"></i></button>
          <button class="btn btn-success" title="Import from excel"  ><i class="feather icon-download" style="font-size: large;"></i></button>
          <button class="btn btn-primary addnew" title="Add new client"  (click)="addNew()"><i class="feather icon-plus-square" style="font-size: x-large;"></i></button> -->

          <div class="dropdown">
            <i alt="User" class="styleicon feather icon-menu" style="font-size: x-large;"   id="userDropdown"
              data-bs-toggle="dropdown" ></i>
            <ul class="dropdown-menu dropdown-menu-end" style="width: 200px;" aria-labelledby="userDropdown">
              <li> </li> <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" (click)="addNew()">
                  <i class="feather icon-user-plus me-2"></i> Add new user
                </a>
              </li>
            
              <li>
                <a class="dropdown-item d-flex align-items-center" (click)="importData()">
                  <i class="feather icon-download me-2"></i> Import user
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" (click)="exportData()">
                  <i class="feather icon-upload me-2"></i> Export user
                </a>
              </li>
             
              <li>
                <hr class="dropdown-divider" />
              </li>
            </ul>
          </div>

        </div>
        </div>
        <hr class="hrntm">
       <app-grid (firstColumnClicked)="onFirstColumnClicked($event)" [rowData]="users" [columnDefs]="userColumns"></app-grid>

    </div>
  </div>
</div>


