<div class="row">
                                    <!-- Component ID (Manual Entry) -->

                                   

                                   <div class="col-md-3">
            <div class="m-1 field-containernwsm">
              <label for="componentId" class="form-label">componentId:</label>
              <input
                type="text"
                id="componentId"
                formControlName="componentId"
                class="form-control form-control-nb"
                placeholder="Enter componentId"
              />
            </div>
          </div>

                                    <!-- Operational Status (Dropdown) -->
                                  
                                </div>
