<div class="header">
  <div class="header-left">
    <div class="logo"> <a [routerLink]="['/dashboard']" class="b-brand" style="color: rgb(13 166 253);;">IntegralX</a></div>
  
  </div>


  <div class="header-right">
      <div class="search-container position-relative">
       <div class="search-bar">
        <input id="searchTxt" type="text" class="form-control" placeholder="Search menu..." [(ngModel)]="searchText"
        (input)="onSearchChange()" (focus)="showDropdown = true" (blur)="hideDropdownAfterDelay()" />
       </div>
          <ul class="dropdown-menu dropdown-menu-search show w-50" *ngIf="showDropdown && filteredMenuItems.length > 0">
        <li *ngFor="let menu of filteredMenuItems" (mousedown)="navigateTo(menu.url)">
          <a class="dropdown-item">{{ menu.title }}</a>
        </li>
      </ul>
    </div>
    <div class="header-icons">
        <ng-container *ngFor="let item of navigations">
          <button class="icon-btn"
             *ngIf="['User','Roles','Logs','Import'].includes(item.title)"
             [routerLink]="item.url"
             routerLinkActive="active"title="{{item.title}}">
            <i class="bi"
               [ngClass]="'feather icon-' + item.icon"></i>
          </button>
        </ng-container>
      <button class="icon-btn" title="Hierarchy"  (click)="showJsonData()"><i class="bi"
               [ngClass]="'feather icon-pocket'"></i></button>
       <button class="icon-btn" title="Settings">  <i class="bi"
               [ngClass]="'feather icon-settings'"></i></button>
      <!-- <button class="icon-btn" title="Notifications">🔔</button> -->
      <button class="icon-btn" title="Help" (click)="logout()" ><i class="bi"
               [ngClass]="'feather icon-log-out'"></i></button>
     <button class="icon-btn" 
        [title]="isFullScreen ? 'Minimize' : 'Expand'"
        (click)="toggleFullScreen()" >
  <span *ngIf="!isFullScreen">⛶</span>
  <span *ngIf="isFullScreen">⊡</span>
</button>
    </div>
   <div class="dropdown">
  <img [src]="((img && img !== 'null')) ? img : 'assets/user.jpg'" alt="User"
    class="user-img mx-2 dropdown-toggle user-avatar" id="userDropdown" data-bs-toggle="dropdown" 
    aria-expanded="false" />
  <ul class="dropdown-menu dropdown-menu-end user-dropdown-menu" aria-labelledby="userDropdown">
    <li class="dropdown-header">Hi, <b>{{usernName}}</b></li>
    <li>
      <hr class="dropdown-divider" />
    </li>
    <li><a class="dropdown-item" (click)="viewProfile()"><i class="feather icon-user"></i> Profile</a></li>
    <li><a class="dropdown-item" (click)="changePassword()"><i class="feather icon-lock"></i> Change Password</a></li>
    <li>
      <hr class="dropdown-divider" />
    </li>
    <li><a class="dropdown-item text-danger" (click)="logout()"><i class="feather icon-log-out"></i> Logout</a></li>
  </ul>
</div>
     
  </div>
</div>


<header class="" >
  <div class="d-flex align-items-center">
    
      <!-- Bootstrap Modal -->
      <!-- Bootstrap Modal -->
      <div class="modal fade" #jsonModal tabindex="-1" aria-labelledby="jsonModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="jsonModalLabel">Hierarchy </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <div class="modal-body-content">
                <!-- Tree View Section -->
                <div class="tree-view">
                  <ul class="list-unstyled">
                    <li *ngFor="let plant of jsonData">
                      <div class="tree-node" [attr.id]="'plant-' + plant.plantId">
                        <span class="tree-arrow" (click)="toggle(plant)" [class.expanded]="plant.isExpanded">▶</span>
                        <span class="tree-label" (click)="navigateToDetails('plant', plant.plantId)">
                          🏭 <strong>{{ plant.plantName }}</strong>
                        </span>
                      </div>

                      <ul *ngIf="plant.isExpanded" class="ms-3">
                        <!-- AREA NODES -->
                        <li *ngFor="let area of plant.areas">
                          <div class="tree-node" [attr.id]="'area-' + area.areaId">
                            <span class="tree-arrow" (click)="toggle(area)" [class.expanded]="area.isExpanded">▶</span>
                            <span class="tree-label" (click)="navigateToDetails('area', area.areaId)">
                              📍 {{ area.areaName }}
                            </span>
                          </div>

                          <ul *ngIf="area.isExpanded" class="ms-3">
                            <!-- UNIT NODES -->
                            <li *ngFor="let unit of area.units">
                              <div class="tree-node" [attr.id]="'unit-' + unit.unitId">
                                <span class="tree-arrow" (click)="toggle(unit)"
                                  [class.expanded]="unit.isExpanded">▶</span>
                                <span class="tree-label" (click)="navigateToDetails('unit', unit.unitId)">
                                  📦 {{ unit.unitName }}
                                </span>
                              </div>

                              <ul *ngIf="unit.isExpanded" class="ms-3">
                                <!-- SYSTEM NODES -->
                                <li *ngFor="let system of unit.systems">
                                  <div class="tree-node" [attr.id]="'system-' + system.systemId">
                                    <span class="tree-arrow" (click)="toggle(system)"
                                      [class.expanded]="system.isExpanded">▶</span>
                                    <span class="tree-label" (click)="navigateToDetails('system', system.systemId)">
                                      🖥️ {{ system.systemName }}
                                    </span>
                                  </div>

                                  <ul *ngIf="system.isExpanded" class="ms-3">
                                    <!-- CIRCUITS -->
                                    <li *ngFor="let circuit of system.circuit">
                                      <div class="tree-node" [attr.id]="'circuit-' + circuit.circuitId">
                                        <span class="tree-arrow" (click)="toggle(circuit)"
                                          [class.expanded]="circuit.isExpanded">▶</span>
                                        <span class="tree-label"
                                          (click)="navigateToDetails('circuit', circuit.circuitId)">
                                          ⚡ {{ circuit.circuitName }}
                                        </span>
                                      </div>

                                      <ul *ngIf="circuit.isExpanded" class="ms-3">
                                        <li *ngFor="let eq of circuit.equipment"
                                          [attr.id]="'equipment-' + eq.equipmentId">
                                          <span class="tree-label"
                                            (click)="navigateToDetails('equipment', eq.equipmentId)">
                                            ⚗️ {{ eq.equipmentName }}
                                          </span>
                                        </li>
                                      </ul>
                                    </li>

                                    <!-- Equipment directly under system -->
                                    <li *ngFor="let eq of system.equipment" [attr.id]="'equipment-' + eq.equipmentId">
                                      <span class="tree-label" (click)="navigateToDetails('equipment', eq.equipmentId)">
                                        ⚗️ {{ eq.equipmentName }}
                                      </span>
                                    </li>
                                  </ul>
                                </li>

                                <!-- Circuits under Unit -->
                                <li *ngFor="let circuit of unit.circuit" [attr.id]="'circuit-' + circuit.circuitId">
                                  <span class="tree-label" (click)="navigateToDetails('circuit', circuit.circuitId)">
                                    ⚡ {{ circuit.circuitName }}
                                  </span>
                                </li>

                                <!-- Equipment under Unit -->
                                <li *ngFor="let eq of unit.equipment" [attr.id]="'equipment-' + eq.equipmentId">
                                  <span class="tree-label" (click)="navigateToDetails('equipment', eq.equipmentId)">
                                    ⚗️ {{ eq.equipmentName }}
                                  </span>
                                </li>
                              </ul>
                            </li>

                            <!-- Systems, Circuits, Equipment in Area -->
                            <li *ngFor="let system of area.systems" [attr.id]="'system-' + system.systemId">
                              <span class="tree-label" (click)="navigateToDetails('system', system.systemId)">
                                🖥️ {{ system.systemName }}
                              </span>
                            </li>

                            <li *ngFor="let circuit of area.circuit" [attr.id]="'circuit-' + circuit.circuitId">
                              <span class="tree-label" (click)="navigateToDetails('circuit', circuit.circuitId)">
                                ⚡ {{ circuit.circuitName }}
                              </span>
                            </li>

                            <li *ngFor="let eq of area.equipment" [attr.id]="'equipment-' + eq.equipmentId">
                              <span class="tree-label" (click)="navigateToDetails('equipment', eq.equipmentId)">
                                ⚗️ {{ eq.equipmentName }}
                              </span>
                            </li>
                          </ul>
                        </li>

                        <!-- Units, Systems, Circuits, Equipment under Plant -->
                        <li *ngFor="let unit of plant.units" [attr.id]="'unit-' + unit.unitId">
                          <span class="tree-label" (click)="navigateToDetails('unit', unit.unitId)">
                            📦 {{ unit.unitName }}
                          </span>
                        </li>

                        <li *ngFor="let system of plant.systems" [attr.id]="'system-' + system.systemId">
                          <span class="tree-label" (click)="navigateToDetails('system', system.systemId)">
                            🖥️ {{ system.systemName }}
                          </span>
                        </li>

                        <li *ngFor="let circuit of plant.circuit" [attr.id]="'circuit-' + circuit.circuitId">
                          <span class="tree-label" (click)="navigateToDetails('circuit', circuit.circuitId)">
                            ⚡ {{ circuit.circuitName }}
                          </span>
                        </li>

                        <li *ngFor="let eq of plant.equipment" [attr.id]="'equipment-' + eq.equipmentId">
                          <span class="tree-label" (click)="navigateToDetails('equipment', eq.equipmentId)">
                            ⚗️ {{ eq.equipmentName }}
                          </span>
                        </li>
                      </ul>
                    </li>

                  </ul>
                </div>

                <!-- Legend Section -->
                <div class="icon-legend">
                  <ul>
                    <li><span>🏭</span> <span class="label-text">Plant</span></li>
                    <li><span>📍</span> <span class="label-text">Area</span></li>
                    <li><span>📦</span> <span class="label-text">Unit</span></li>
                    <li><span>🖥️</span> <span class="label-text">System</span></li>
                    <li><span>⚡</span> <span class="label-text">Circuit</span></li>
                    <li><span>⚗️</span> <span class="label-text">Equipment</span></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div> -->

          </div>
        </div>
      </div>



      <!-- <i class="bi feather icon-bell mx-2"></i> Options Icon -->
    
     
    </div>

<!-- Sidebar Navigation -->
<!-- <nav class="sidebar">
   
    
    <div class="nav-bar">
        <button class="nav-item" 
                *ngFor="let item of navigations"
                [routerLink]="item.url" 
                routerLinkActive="active"
                 [routerLink]="item.url" >
            <i class="bi" 
               [ngClass]="'feather icon-' + item.icon"></i>
            <span>{{ item.title }}</span>
        </button>
    </div>
</nav> -->


  <app-breadcrumb />


   <div class="side-menu">
        <ng-container *ngFor="let item of navigations">
          <a class="side-menu-item"
             *ngIf="!['User','Roles','Logs','Import'].includes(item.title)"
             [routerLink]="item.url"
             routerLinkActive="active">
            <i class="bi"
               [ngClass]="'feather icon-' + item.icon"></i>
            <span class="side-menu-text">{{ item.title }}</span>
          </a>
        </ng-container>
        </div>
</header>


<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
       
       
        <div class="main-body" style="background-color: #fff;">
          <div class="page-wrapper" style="margin-left: 60px; ">
            <app-loading></app-loading>
            <router-outlet />
          </div>
        </div>
    </div>
  </div>
  <div class="pc-menu-overlay" (click)="closeMenu()" (keydown)="handleKeyDown($event)" tabindex="0"></div>
</div>