<div class="card">
    <div class="card-body">
      <h3>Change Password</h3>
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        
        <div class="row">
            <div class="col-sm-3">
                <div class="mb-2 field-containernw">
                    <label for="oldPassword" class="form-label">Old Password:</label>
                    <div class="input-container">
                      <input id="oldPassword" type="password" formControlName="oldPassword" class="form-control form-control-nb" placeholder="Enter old password" />
                    </div>
                    <div *ngIf="changePasswordForm.controls['oldPassword'].invalid && changePasswordForm.controls['oldPassword'].touched" class="text-danger">
                      Old password is required.
                    </div>
                  </div>
          
                  <div class="mb-2 field-containernw">
                    <label for="newPassword" class="form-label">New Password:</label>
                    <div class="input-container">
                      <input id="newPassword" type="password" formControlName="newPassword" class="form-control form-control-nb" placeholder="Enter new password" />
                    </div>
                    <div *ngIf="changePasswordForm.controls['newPassword'].invalid && changePasswordForm.controls['newPassword'].touched" class="text-danger">
                      New password is required (Min: 6 chars).
                    </div>
                  </div>
          
                  <div class="mb-2 field-containernw">
                    <label for="confirmPassword" class="form-label">Confirm Password:</label>
                    <div class="input-container">
                      <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control form-control-nb" placeholder="Confirm new password" />
                    </div>
                    <div *ngIf="changePasswordForm.controls['confirmPassword'].invalid && changePasswordForm.controls['confirmPassword'].touched" class="text-danger">
                      Confirm password is required.
                    </div>
                    <div *ngIf="changePasswordForm.hasError('passwordMismatch')" class="text-danger">
                      Passwords do not match.
                    </div>
                  </div>
            </div>
        
        </div>
  
        <div class="row mt-3">
          <div class="col-sm-3">
            <button type="submit" [disabled]="changePasswordForm.invalid" class="btn btn-primary">Change Password</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>
  