<div class="row">
  <!-- [ tabs ] start -->

  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="">
          <!-- Tabs Navigation with Right-Aligned Button -->
          <div class="d-flex align-items-center">
            <!-- Nav Tabs (Left Side) -->
            <ul class="nav nav-tabs flex-grow-1" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button"
                  role="tab" aria-controls="tab1" aria-selected="true">
                  Summary
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button"
                  role="tab" aria-controls="tab2" aria-selected="false">
                  Data
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button"
                  role="tab" aria-controls="tab3" aria-selected="false">
                  Reference
                </button>
              </li>
            </ul>

            <!-- Right-Aligned Button -->
            <div class="toolbar">
              <a class="" (click)="backToClient()">
                <i class="feather styleIcon icon-arrow-left" style="font-size: xx-large;" title="Back to users"></i> 
              </a>
              <!-- <button class="btn btn-primary addnew" title="Back to Clients" (click)="backToClient()"><i
                  class="feather feather icon-arrow-left" style="font-size: x-large;"></i></button> -->
            </div>
          </div>

          <!-- Tab Content -->
          <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
              <div class="">
                <div class="row">
                  <div class="col-sm-6">
                    <h3>Client Expiry Status</h3>
                    <apx-chart *ngIf="chartOptions" [series]="chartOptions.series" [chart]="chartOptions.chart"
                      [labels]="chartOptions.labels" [colors]="chartOptions.colors">
                    </apx-chart>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
              
              <div class="card">
                <div class="card-body">
                 
                  <h3 class="m-0">Client Data</h3>
                  <hr class="m-0">
                  <input id="id" formControlName="id" class="form-control form-control-sm small-input" hidden />
                  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="p-2">
                    <div class="row row-gap"> 


                      <!-- Name -->
                      <div class="col-sm-3 field-container">
                        <label for="name" class="form-label">Name:  <span class="text-danger">*</span></label>
                        <div class="input-container">
                          <input id="name" formControlName="name" class="form-control form-control-nb" placeholder="Enter name" />
                        </div>
                        <div *ngIf="clientForm.controls['name'].invalid && clientForm.controls['name'].touched" class="text-danger">
                          <div *ngIf="clientForm.controls['name'].errors?.['name']">
                            Name is required.
                          </div>
                          <div *ngIf="clientForm.controls['name'].errors?.['nameExists']">
                            Name already exist.
                          </div>
                        </div>
                      </div>
                     
                      <!-- Email -->
                      <div class="col-sm-3 field-container">
                        <label for="email" class="form-label">Email:  <span class="text-danger">*</span></label>
                        <div class="input-container">
                          <input type="email" id="email" formControlName="email" class="form-control form-control-nb"
                            placeholder="Enter email" />
                        </div>
                        <div *ngIf="clientForm.controls['email'].invalid && clientForm.controls['email'].touched" class="text-danger">
                          <div *ngIf="clientForm.controls['email'].errors?.['email']">
                            Eamil is required.
                          </div>
                          <div *ngIf="clientForm.controls['email'].errors?.['emailExists']">
                            Email already exist.
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 m-0 p-0"></div>
                      <div class="col-sm-3 m-0 p-0"><button type="button" style="max-height: 25px;" title="Add user" class="btn btn-sm" (click)="navigateTouserAdd()" >Add user</button></div>
                      
                      <!-- Website -->
                      <div class="col-sm-3 field-container">
                        <label for="website" class="form-label">Website:  <span class="text-danger">*</span></label>
                        <div class="input-container">
                          <input type="text" id="website" formControlName="website" class="form-control form-control-nb"
                            placeholder="Enter website" />
                        </div>
                        <div *ngIf="clientForm.controls['website'].invalid && clientForm.controls['website'].touched"
                          class="text-danger">
                          Website is required.
                        </div>
                      </div>

                      <!-- Total Users -->
                      <div class="col-sm-3 field-container">
                        <label for="totalUsers" class="form-label">Users:  <span class="text-danger">*</span></label>
                        <div class="input-container">
                          <input type="number" id="totalUsers" formControlName="totalUsers" class="form-control form-control-nb"
                            min="1" />
                        </div>
                        <div
                          *ngIf="clientForm.controls['totalUsers'].invalid && clientForm.controls['totalUsers'].touched"
                          class="text-danger">
                          Users must be at least 1.
                        </div>
                      </div>
                      <div class="col-sm-3"></div><div class="col-sm-3"></div>
                      <!-- Purchase Date: -->
                      <div class="col-sm-3 field-container">
                        <label for="purchaseDate" class="form-label">Purchase Date:  <span class="text-danger">*</span></label>
                        <div class="input-container">
                          <input type="date" id="purchaseDate" formControlName="purchaseDate" class="form-control form-control-nb"
                            min="1" />
                        </div>
                        <div
                          *ngIf="clientForm.controls['purchaseDate'].invalid && clientForm.controls['purchaseDate'].touched"
                          class="text-danger">
                          Invalid date.
                        </div>
                      </div>

                    
                      <div class="col-sm-3 field-container">
                        <label for="expiryDate" class="form-label">Expiry Date:</label>
                        <div class="input-container">
                          <input type="date" id="expiryDate" formControlName="expiryDate" class="form-control form-control-nb"
                            min="1" />
                        </div>
                        <div
                          *ngIf="clientForm.controls['expiryDate'].invalid && clientForm.controls['expiryDate'].touched"
                          class="text-danger">
                          *
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="col-sm-3"></div><div class="col-sm-3"></div>
                      </div>
                      <div class="col-sm-6 field-containerfull">
                        <label for="details" class="me-2 form-label">Details:</label>
                        <div class="input-container">
                          <textarea id="details" formControlName="details"
                            class="form-control form-control-nb"></textarea>
                        </div>
                      </div>

                      <br>
                      <br>
                        <div class="col-sm-12 p-0">
                          <p class="text-muted text-truncate">Modules</p>
                          <hr>
                          <div class="mb-3">
                            <div class="module-selection-container">
                                <div *ngFor="let module of modules" class="form-check form-switch module-item">
                                  <input type="checkbox" class="form-check-input" [checked]="module.selected"
                                    (change)="onModuleChange($event, module.id)">
                                  <label class="form-check-label">{{ module.name }}</label>
                                </div>
                            </div>
                          </div>
                        </div>
                      
                        <div class="col-sm-12 p-0">
                          <div class="accordion mt-3" id="documentAccordion">

                            <!-- Uploaded Documents Section -->
                            <div class="accordion-item">
                              <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#uploadedDocs">
                                  <label class="form-label"> Documents</label>
                                </button>
                              </h2>
                              <div id="uploadedDocs" class="accordion-collapse collapse"
                                data-bs-parent="#documentAccordion">
                                <div class="accordion-body">
                                  <div class="row">
                                    <div class="col-sm-6  m-0 pl-10">
                                      <p class="text-muted text-truncate">New Dcouments</p>
                                      <hr>
                                      <div class="row">
                                        <div class="col-sm-6  m-0 p-2">
                                          <!-- Upload Logo -->
                                          <div class="mb-3">
                                            <label class="form-label">Upload Client Logo</label>
                                            <input type="file" class="form-control" title="logo"
                                              (change)="onFileSelect($event, 'logo')" accept="image/*">
                                            <img *ngIf="logoPreview" [src]="logoPreview" class="mt-2" width="100">
                                          </div>
    
                                        </div>
                                        <div class="col-sm-6  m-0 p-2">
                                          <div class="mb-3">
                                            <label class="form-label">Upload Client Documents</label>
                                            <input type="file" class="form-control"
                                              (change)="onFileSelect($event, 'documents')" multiple
                                              accept=".pdf,.doc,.docx">
                                            <ul *ngIf="uploadedDocuments.length > 0" class="mt-2">
                                              <li *ngFor="let doc of uploadedDocuments">{{ doc.name }}</li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm-6  m-0 pl-10">
                                      <p class="text-muted text-truncate">Uploaded Dcouments</p>
                                      <hr>
                                      <ul class="list-group mb-3">
    
                                        <li *ngFor="let doc of documents"
                                          class="list-group-item d-flex justify-content-between align-items-center"
                                          style="border: none !important;">
                                          <div class="file-info">
                                            <i class="bi bi-file-earmark-text text-info"></i>
                                            {{ doc.docName }}
                                          </div>
                                          <div>
                                            <button class="btn btn-sm btn-outline-success mx-1 docbutton" type="button"
                                              (click)="downloadDocument(doc.id!, doc.docName);$event.preventDefault();">
                                              <i class="feather icon-download"></i>
                                            </button>
                                            <button class="btn btn-sm btn-outline-danger docbutton" type="button"
                                              (click)="markForDeletion(doc.id!);$event.preventDefault();">
                                              <i class="feather icon-trash"></i>
                                            </button>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                    <hr>
                    <button type="submit" [disabled]="clientForm.invalid" class="btn btn-primary">Update</button>
                    <button type="button" [disabled]="clientForm.invalid" (click)="onDelete()" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            
            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
              <p>Content for Tab 3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>