
<div class="">
    <!-- Top Bar with Heading & Buttons -->
   
  
    <!-- Grid (AG Grid, Table, or any list component) -->
    <div class="card">
      <div class="card-body">
        <!-- Your Grid Component Here -->
        <div class="d-flex justify-content-between align-items-center mt-2">
            <!-- Left Side: Heading -->
            <h3 class="m-0">Logs</h3>
        
         
          </div>
          <hr class="hrntm">
         <app-grid  [rowData]="users" [columnDefs]="userColumns"></app-grid>

      </div>
    </div>
  </div>
  