<div>
    <div class="card">
        <div class="card-body ">
            <div class="d-flex justify-content-between align-items-center mt-2">
                <h3 class="m-0">New User</h3>
                <a class="" (click)="backToUsers()">
                    <i class="feather styleIcon icon-arrow-left" style="font-size: xx-large;" title="Back to users"></i>
                </a>
            </div>
            <hr class="mt-0">

            <form [formGroup]="userForm" (ngSubmit)="saveUser()">
                <input id="id" formControlName="id" type="hidden" />

                <div class="row">
                    <!-- Basic Information (Column 1) -->
                    <div class="col-md-3">
                        <h5>Basic Information</h5>
                        <hr>
                        <div class="mb-2 field-containernw">
                            <label for="firstName" class="form-label">First Name: <span
                                    class="text-danger">*</span></label>
                            <input id="firstName" formControlName="firstName" class="form-control form-control-nb"
                                placeholder="Enter first name" />
                            <div *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched"
                                class="text-danger">
                                First Name is required.
                            </div>
                        </div>

                        <div class="mb-2 field-containernw">
                            <label for="lastName" class="form-label">Last Name:</label>
                            <input id="lastName" formControlName="lastName" class="form-control form-control-nb"
                                placeholder="Enter last name" />
                        </div>

                        <div class="mb-2 field-containernw">
                            <label for="userId" class="form-label">Employee Number:</label>
                            <input id="userId" formControlName="userId" class="form-control form-control-nb"
                                placeholder="Enter employee number" />
                        </div>

                        <div class="mb-2 field-containernw">
                            <label for="roleId" class="form-label">Role: <span class="text-danger">*</span></label>
                            <select id="roleId" formControlName="roleId"
                                class="form-select form-select-sm form-control form-control-nb">
                                <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
                            </select>
                            <div *ngIf="userForm.controls['roleId'].invalid && userForm.controls['roleId'].touched"
                                class="text-danger">
                                Role selection is required.
                            </div>
                        </div>
                        <div class="mb-2 field-containernw" style="max-height: 500px;">
                            <label for="details" class="form-label">Details:</label>
                            <textarea id="details" formControlName="details" class="form-control form-control-nb"
                                placeholder="Enter details"></textarea>
                        </div>

                    </div>

                    <!-- Contact Information (Column 2) -->
                    <div class="col-md-3">
                        <h5>Contact Information</h5>
                        <hr>
                        <div class="mb-2 field-containernw">
                            <label for="email" class="form-label">Email: <span class="text-danger">*</span></label>
                            <input id="email" formControlName="email" type="email" class="form-control form-control-nb"
                                placeholder="Enter email" />
                            <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched"
                                class="text-danger">
                                <div *ngIf="userForm.controls['email'].errors?.['required']">
                                    Email is required.
                                </div>
                                <div *ngIf="userForm.controls['email'].errors?.['email']">
                                    Invalid email.
                                </div>
                                <div *ngIf="userForm.controls['email'].errors?.['emailExists']">
                                    Email already exist.
                                </div>
                            </div>
                        </div>

                        <div class="mb-2 field-containernw">
                            <label for="contactNumber" class="form-label">Contact Number: <span
                                    class="text-danger">*</span></label>
                            <input id="contactNumber" formControlName="contactNumber"
                                class="form-control form-control-nb" placeholder="Enter contact number" />
                            <div *ngIf="userForm.controls['contactNumber'].invalid && userForm.controls['contactNumber'].touched"
                                class="text-danger">
                                <div *ngIf="userForm.controls['contactNumber'].errors?.['required']">
                                    Contact number is required.
                                </div>
                                <div *ngIf="userForm.controls['contactNumber'].errors?.['contactExists']">
                                    Contact number already exist.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Login Information (Column 3) -->
                    <div class="col-md-3">
                        <h5>Login Information</h5>
                        <hr>
                        <div class="mb-2 field-containernw">
                            <label for="userName" class="form-label">Username: <span
                                    class="text-danger">*</span></label>
                            <input id="userName" formControlName="userName" class="form-control form-control-nb"
                                placeholder="Enter username" />
                            <div *ngIf="userForm.controls['userName'].invalid && userForm.controls['userName'].touched"
                                class="text-danger">
                                <div *ngIf="userForm.controls['userName'].errors?.['required']">
                                    Username is required.
                                </div>
                                <div *ngIf="userForm.controls['userName'].errors?.['userNameExists']">
                                    Username already exist.
                                </div>
                            </div>
                        </div>

                        <div class="mb-2 field-containernw">
                            <label for="password" class="form-label">Password: <span
                                    class="text-danger">*</span></label>
                            <input id="password" type="password" formControlName="password"
                                class="form-control form-control-nb" placeholder="Enter password" />
                            <div *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched"
                                class="text-danger">
                                Password is required (Min: 6 chars).
                            </div>
                        </div>

                        <div class="mb-2 field-containernw">
                            <label for="ConfirmPassword" class="form-label">Confirm Password:</label>
                            <input id="ConfirmPassword" type="password" formControlName="ConfirmPassword"
                                class="form-control form-control-nb" placeholder="Confirm password" />
                            <div *ngIf="userForm.controls['ConfirmPassword'].invalid && userForm.controls['ConfirmPassword'].touched"
                                class="text-danger">
                                <span *ngIf="userForm.controls['ConfirmPassword'].errors?.['required']">Confirm Password
                                    is required.</span>
                                <span *ngIf="userForm.controls['ConfirmPassword'].errors?.['mustMatch']">Passwords do
                                    not match.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h5>Profile Picture</h5>
                        <hr>
                        <div class="mb-2 field-containernw">
                            <label for="logo" class="form-label">Upload:</label>
                            <input id="logo" type="file" class="form-control form-control-nb"
                                style="padding: 2px !important;" (change)="onFileSelect($event)" />
                        </div>
                        <div class="mb-3">
                            <img *ngIf="logoPreview" [src]="logoPreview" class="mt-2" width="200">
                        </div>
                    </div>
                </div>

                <!-- Profile Picture Upload (Full Width) -->

                <!-- Submit Button -->
                <div class="row mt-4">
                    <div class="col-md-12 text-center">
                        <button type="submit" *ngIf="this.canAdd" [disabled]="userForm.invalid"
                            class="btn btn-primary">Save User</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>