<ul class="navbar-nav">
  <li style="padding: 0px !important;">
    <div class="">
      <a [routerLink]="['/dashboard']" class="b-brand">
       
        <span class="b-title"> <i style="color: #ffffff;
          font-size: larger;
          font-weight: bold;"><b>Integral</b></i></span> <div class="b-bg" style="margin: 5px;">
          <i style="color: #fff;
          font-size: x-large;
          font-weight: bold;
          padding-right: 4px;"><b>X</b></i>
        </div>
      </a>
       </div>
    
  </li>
  <li></li>
 
</ul>
